.formbtn{
    color: #fff;
    background-color: #0a0c0d;
    border-bottom: 5px solid #858483;
    font-weight: bold;
}
.formbtn:hover{
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}



.formarea{
   
    
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: #cee3f4;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

  .modalContent {
    max-height: 450px; 
    overflow-y: auto;
  }